@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.App {
  text-align: center;
}
body{
 background-image:  url("https://images.pexels.com/photos/268819/pexels-photo-268819.jpeg?cs=srgb&dl=pexels-pixabay-268819.jpg&fm=jpg");
background-size:cover;
font-family: 'Righteous';
   
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul{
 
  margin:0;
  padding:0;
}

li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}


li:hover{
  top:0px;
  opacity:0.5;
}




p{
  margin:-15px 0 0 0;
}

.light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  background:#fff;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
}